body {
	background-color: linen;
}
h1 {
	font-family: didot;
	margin-left: 40px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-family: monospace;
	font-size: large;
	color: black;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	padding: 0px 5%;
}
nav ul {
	display: flex;
}
nav ul li a {
	margin: 30px;
}
.text-container p:nth-child(1) {
	font-family: fantasy;
	font-size: 50px;
	margin-left: 50px;
}
.text-container p:nth-child(2) {
	font-family: monospace;
	font-size: 25px;
	margin-left: 250px;
}
.text-container p {
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container {
	position: absolute;
	top: 50%;
	transform: translate(-13%, -42%);
}
.pic {
	padding-left: 500px;
	width: 70%;
}
