body {
	background-color: linen;
}
ul {
	list-style: none;
}
h1 {
	font-family: didot;
	margin-left: 40px;
}
a {
	text-decoration: none;
	font-family: monospace;
	font-size: large;
	color: black;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	padding: 0px 5%;
}
nav ul {
	display: flex;
}
nav ul li a {
	margin: 30px;
}
.text-container p:nth-child(1) {
	font-family: fantasy;
	color: #1a1a1a;
	font-size: 60px;
	padding-top: 50px;
}
.text-container p:nth-child(2) {
	font-family: monospace;
	font-size: 25px;
	padding-left: 200px;
}
.text-container p {
	line-height: 0px;
	margin: 45px 0px 25px;
	padding-left: 80px;
}
.neghin {
	padding-left: 100px;
	width: 300px;
	height: 450px;
}
.about-container {
	width: 90%;
	height: 350px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 100px;
}
.about-container img {
	height: 230px;
	padding-left: 40px;
}
.about-text {
	width: 300px;
}
.about {
	display: flex;
	justify-content: center;
	font-family: american typewriter;
	font-size: 30px;
	text-align: center;
}
.education {
	display: flex;
	justify-content: center;
	font-family: american typewriter;
	font-size: 30px;
	text-align: center;
}
.edu {
	font-family: american typewriter;
	font-size: 20px;
}
.clgimg {
	display: flex;
	justify-content: center;
}
.career {
	display: flex;
	justify-content: center;
	font-family: american typewriter;
	font-size: 30px;
	text-align: center;
}
.imggis {
	width: 500px;
	height: 300px;
}
.car {
	font-family: american typewriter;
	font-size: 15px;
	text-align: center;
}
.career-container {
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-evenly;
}
.social-icons a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons {
	display: flex;
	justify-content: center;
}
.social-icons i {
	color: #000000;
}
.social-icons a:hover {
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	transition: all ease 0.5s;
}
.contact {
	display: flex;
	justify-content: center;
	font-family: american typewriter;
	font-size: 30px;
	text-align: center;
}
.form {
	display: flex;
	justify-content: center;
}
.form-div {
	width: 500px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}
button {
	background-color: #f7ab5a;
	border-radius: 2px;
	font-family: serif;
	font-size: 13px;
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;
	color: white;
}
